/*------------------ Imports ----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Abel);

/*------------------ Basic ----------------------------------*/
body{
	background-color: rgb(35,90,153);
	font-family: 'Abel', sans-serif;
}
hr {
    max-width: 400px;
    border-color: #999999;
}
p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}
/*------------------ Navbar ----------------------------------*/
.top-page{
	padding-bottom: 20px;
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}
/*------------------ Body ----------------------------------*/
.div-box{
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}
.img-left {
    float: none;
    margin: 0 auto 0;
}
.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}
/*------------------ Footer ----------------------------------*/
.footer {
   	background: #fff;
    background: rgba(255,255,255,0.9);
    padding: 10px 0 0 0; 
    font-size: 12px; 
    color: #000; 
}
.footer a { 
    color: #000; 
}
.footer a:hover {
    color: rgb(35,90,153) ; 
}
.footer .widget {
    margin-bottom:30px; 
}        
.footer .widget-title { 
    font-size: 17px;
    font-weight: bold; 
    color: #000; 
    margin: 0 0 20px; 
}
.follow-me-icons { 
    font-size:30px; 
}        
.follow-me-icons i { 
    float:left; 
    margin:0 10px 0 0; 
}

/*------------------ Media ----------------------------------*/
@media screen and (min-width:760px) {
/*------------------ Navbar ----------------------------------*/
	.navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }
     .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
    .nav>li>a {
        padding: 15px;
    }
    .img-left {
        float: left;
        margin-right: 25px;
    }
}














